<div class="container mb-5" id="principal">
    <h1 class="text-center mt-5 mb-5">ELIMINAR REGISTROS</h1>
    <div class="container" id="tabla">
        <table class="table table-hover table-bordered table-sm text-center">
            <thead>
                <tr>
                    <th>TIPO ID</th>
                    <th>NÚMERO ID</th>
                    <th>NOMBRES</th>
                    <th>APELLIDOS</th>
                    <th>DIRECCIÓN</th>
                    <th>TELÉFONO</th>
                    <th>PROFESIÓN</th>
                    <th>ACCIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas, let indice = index">
                    <td>{{persona.tipo_id}}</td>
                    <td>{{persona.numero_id}}</td>
                    <td>{{persona.nombres}}</td>
                    <td>{{persona.apellidos}}</td>
                    <td>{{persona.direccion}}</td>
                    <td>{{persona.telefono}}</td>
                    <td>{{persona.profesion}}</td>
                    <td><button class="btn btn-danger btn-block" data-toggle="modal" data-target="#mod_eliminar" (click)="eliminarRegistro(persona)">ELIMINAR</button></td>
                </tr>
            </tbody>
        </table>	
    </div>
</div>
<ng-container *ngIf="modals">
    <app-modals [personaSeleccionada]="personaSeleccionada" [eliminar]="eliminar"></app-modals>
</ng-container>
