<div class=" container mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mt-5 mb-5">CRUD</h1>
            <p class="lead">Ésta aplicación cuenta con las operaciones create, read, update y delete, para gestionar y almacenar información en una base de datos, utilizando Apache, PHP, jQuery, JavaScript, Bootstrap, MariaDB-MySQL entre otras tecnologías de desarrollo web.</p>
        </div>
    </div>
    <div class="row">
    	<div class="col-3">
    		<img class="img-fluid" src="assets/img/php.png" alt="php">
    	</div>
    	<div class="col-3">
    		<img class="img-fluid" src="assets/img/javascript.png" alt="javascript">
    	</div>
    	<div class="col-3">
    		<img class="img-fluid" src="assets/img/jquery.png" alt="jquery">
    	</div>
    	<div class="col-3">
    		<img class="img-fluid" src="assets/img/css.png" alt="css">
    	</div>
    	<div class="col-3">
    		<img class="img-fluid" src="assets/img/mysql.png" alt="mysql">
    	</div>
    	<div class="col-3">
    		<img class="img-fluid" src="assets/img/html5.png" alt="html5">
    	</div>
    	<div class="col-3">
    		<img class="img-fluid" src="assets/img/bootstrap.png" alt="bootstrap">
    	</div>
    	<div class="col-3">
    		<img class="img-fluid" src="assets/img/apache.png" alt="apache">
    	</div>
    </div>
</div>